@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User) || ViewBag.IsSignedIn == 1)
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" asp-href-include="bootstrap/startbootstrap-clean-blog-gh-pages/vendor/bootstrap/css/bootstrap.min.css">
        <!-- Custom fonts for this template -->
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" asp-href-include="bootstrap/startbootstrap-clean-blog-gh-pages/vendor/fontawesome-free/css/all.min.css" />

        <!-- Custom styles for this template -->

        <link rel="stylesheet" asp-href-include="bootstrap/startbootstrap-clean-blog-gh-pages/css/clean-blog.min.css">
        <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
        <script asp-src-include="~/bootstrap/startbootstrap-clean-blog-gh-pages/vendor/jquery/*.js"></script>
        <script asp-src-include="~/bootstrap/startbootstrap-clean-blog-gh-pages/vendor/bootstrap/js/*.js"></script>
        <style>
           
            header.masthead {
                margin-bottom: 50px;
                background: no-repeat center center;
                background-color: #868e96;
                background-attachment: scroll;
                position: relative;
                background-size: cover;
                height: 350px;
            }
            #mainNav .navbar-nav > li.nav-item > a {
                font-size: 18px;
                font-weight: 800;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            header.masthead .site-heading {
                padding: 100px 0 0 0;
            }
            a#idd.btn {
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 30px;
                margin-top: 0;
                font-size: 14px;
                font-weight: normal;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 4px;
            }
        </style>

        <title>@ViewBag.Title</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">
                                Home Page
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="User" asp-action="ListMovies">
                                Movies
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="User" asp-action="ListEvents">
                                Movie Events
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="User" asp-action="Reservation">@ViewBag.Name's Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Logout">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead">
            <div class="overlay">
                <img class="overlay" src=~/bootstrap/startbootstrap-clean-blog-gh-pages/img/home-bg.jpg />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1>@ViewBag.Title</h1>
                            <span class="subheading">@ViewBag.Subtitle</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section>
                <div class="panel-body">
                    @if (TempData["invalid"] != null)
                    {
                        <div class="alert alert-danger">@TempData["invalid"]</div>
                    }
                    @if (TempData["success"] != null)
                    {
                        <div class="alert alert-success">@TempData["success"]</div>
                    }
                    @RenderBody()
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">Copyright &copy; AKG CINEMA 2018</p>
                    </div>
                </div>
            </div>
        </footer>
        <script>
            (function ($) {
                "use strict"; // Start of use strict

                // Floating label headings for the contact form
                $("body").on("input propertychange", ".floating-label-form-group", function (e) {
                    $(this).toggleClass("floating-label-form-group-with-value", !!$(e.target).val());
                }).on("focus", ".floating-label-form-group", function () {
                    $(this).addClass("floating-label-form-group-with-focus");
                }).on("blur", ".floating-label-form-group", function () {
                    $(this).removeClass("floating-label-form-group-with-focus");
                });

                // Show the navbar when the page is scrolled up
                var MQL = 992;

                //primary navigation slide-in effect
                if ($(window).width() > MQL) {
                    var headerHeight = $('#mainNav').height();
                    $(window).on('scroll', {
                        previousTop: 0
                    },
                        function () {
                            var currentTop = $(window).scrollTop();
                            //check if user is scrolling up
                            if (currentTop < this.previousTop) {
                                //if scrolling up...
                                if (currentTop > 0 && $('#mainNav').hasClass('is-fixed')) {
                                    $('#mainNav').addClass('is-visible');
                                } else {
                                    $('#mainNav').removeClass('is-visible is-fixed');
                                }
                            } else if (currentTop > this.previousTop) {
                                //if scrolling down...
                                $('#mainNav').removeClass('is-visible');
                                if (currentTop > headerHeight && !$('#mainNav').hasClass('is-fixed')) $('#mainNav').addClass('is-fixed');
                            }
                            this.previousTop = currentTop;
                        });
                }

            })(jQuery); // End of use strict

        </script>

    </body>
</html>
}
else
{
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" asp-href-include="bootstrap/startbootstrap-clean-blog-gh-pages/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Custom fonts for this template -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" asp-href-include="bootstrap/startbootstrap-clean-blog-gh-pages/vendor/fontawesome-free/css/all.min.css" />

    <!-- Custom styles for this template -->

    <link rel="stylesheet" asp-href-include="bootstrap/startbootstrap-clean-blog-gh-pages/css/clean-blog.min.css">
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <script asp-src-include="~/bootstrap/startbootstrap-clean-blog-gh-pages/vendor/jquery/*.js"></script>
    <script asp-src-include="~/bootstrap/startbootstrap-clean-blog-gh-pages/vendor/bootstrap/js/*.js"></script>
    <style>
        header.masthead {
            margin-bottom: 50px;
            background: no-repeat center center;
            background-color: #868e96;
            background-attachment: scroll;
            position: relative;
            background-size: cover;
            height: 350px;
        }
        #mainNav .navbar-nav > li.nav-item > a {
            font-size: 18px;
            font-weight: 800;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        header.masthead .site-heading {
            padding: 100px 0 0 0;
        }

    </style>

    <title>@ViewBag.Title</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            Home Page
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="ListMovies">
                            Movies
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="Login">Sign In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead">
        <div class="overlay">
            <img class="overlay" src=~/bootstrap/startbootstrap-clean-blog-gh-pages/img/home-bg.jpg />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">

                    <div class="site-heading">

                        <h1>@ViewBag.Title</h1>
                        <span class="subheading">@ViewBag.Subtitle</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="panel-body">
                @if (TempData["invalid"] != null)
                {
                    <div class="alert alert-danger">@TempData["invalid"]</div>
                }
                @if (TempData["success"] != null)
                {
                    <div class="alert alert-success">@TempData["success"]</div>
                }
                @RenderBody()
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; AKG CINEMA 2018</p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        (function ($) {
            "use strict"; // Start of use strict

            // Floating label headings for the contact form
            $("body").on("input propertychange", ".floating-label-form-group", function (e) {
                $(this).toggleClass("floating-label-form-group-with-value", !!$(e.target).val());
            }).on("focus", ".floating-label-form-group", function () {
                $(this).addClass("floating-label-form-group-with-focus");
            }).on("blur", ".floating-label-form-group", function () {
                $(this).removeClass("floating-label-form-group-with-focus");
            });

            // Show the navbar when the page is scrolled up
            var MQL = 992;

            //primary navigation slide-in effect
            if ($(window).width() > MQL) {
                var headerHeight = $('#mainNav').height();
                $(window).on('scroll', {
                    previousTop: 0
                },
                    function () {
                        var currentTop = $(window).scrollTop();
                        //check if user is scrolling up
                        if (currentTop < this.previousTop) {
                            //if scrolling up...
                            if (currentTop > 0 && $('#mainNav').hasClass('is-fixed')) {
                                $('#mainNav').addClass('is-visible');
                            } else {
                                $('#mainNav').removeClass('is-visible is-fixed');
                            }
                        } else if (currentTop > this.previousTop) {
                            //if scrolling down...
                            $('#mainNav').removeClass('is-visible');
                            if (currentTop > headerHeight && !$('#mainNav').hasClass('is-fixed')) $('#mainNav').addClass('is-fixed');
                        }
                        this.previousTop = currentTop;
                    });
            }

        })(jQuery); // End of use strict
        $(function () {

            $("#contactForm input,#contactForm textarea").jqBootstrapValidation({
                preventSubmit: true,
                submitError: function ($form, event, errors) {
                    // additional error messages or events
                },
                submitSuccess: function ($form, event) {
                    event.preventDefault(); // prevent default submit behaviour
                    // get values from FORM
                    var name = $("input#name").val();
                    var email = $("input#email").val();
                    var phone = $("input#phone").val();
                    var message = $("textarea#message").val();
                    var firstName = name; // For Success/Failure Message
                    // Check for white space in name for Success/Fail message
                    if (firstName.indexOf(' ') >= 0) {
                        firstName = name.split(' ').slice(0, -1).join(' ');
                    }
                    $this = $("#sendMessageButton");
                    $this.prop("disabled", true); // Disable submit button until AJAX call is complete to prevent duplicate messages
                    $.ajax({
                        url: "././mail/contact_me.php",
                        type: "POST",
                        data: {
                            name: name,
                            phone: phone,
                            email: email,
                            message: message
                        },
                        cache: false,
                        success: function () {
                            // Success message
                            $('#success').html("<div class='alert alert-success'>");
                            $('#success > .alert-success').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;")
                                .append("</button>");
                            $('#success > .alert-success')
                                .append("<strong>Your message has been sent. </strong>");
                            $('#success > .alert-success')
                                .append('</div>');
                            //clear all fields
                            $('#contactForm').trigger("reset");
                        },
                        error: function () {
                            // Fail message
                            $('#success').html("<div class='alert alert-danger'>");
                            $('#success > .alert-danger').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;")
                                .append("</button>");
                            $('#success > .alert-danger').append($("<strong>").text("Sorry " + firstName + ", it seems that my mail server is not responding. Please try again later!"));
                            $('#success > .alert-danger').append('</div>');
                            //clear all fields
                            $('#contactForm').trigger("reset");
                        },
                        complete: function () {
                            setTimeout(function () {
                                $this.prop("disabled", false); // Re-enable submit button when AJAX call is complete
                            }, 1000);
                        }
                    });
                },
                filter: function () {
                    return $(this).is(":visible");
                },
            });

            $("a[data-toggle=\"tab\"]").click(function (e) {
                e.preventDefault();
                $(this).tab("show");
            });
        });

        /*When clicking on Full hide fail/success boxes */
        $('#name').focus(function () {
            $('#success').html('');
        });

    </script>
</body>
</html>
}
