@model IEnumerable<DTO.Reservation>
@{
    ViewBag.Title = "List Reservation";
    Layout = "_SignedAdminLayout";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" asp-controller="Home" asp-action="Index">User Page</a>

        <ul class="navbar-nav nav">
            <li>
                <a class="nav-link" asp-controller="Admin" asp-action="ListMovies">Movies</a>
            </li>
            <li>
                <a class="nav-link" asp-controller="Admin" asp-action="ListRooms">Rooms</a>
            </li>
            <li>
                <a class="nav-link" asp-controller="Admin" asp-action="ListMovieEvents">Movie Events</a>
            </li>
            <li>
                <a class="nav-link active" asp-controller="Admin" asp-action="ListUsers">Users and reservations</a>
            </li>
        </ul>
    </nav>
    <div id="wrapper">
        <div id="content-wrapper">
            <div class="container-fluid">
                <ul class="sidebar navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="ListUsers">User List</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Admin" asp-action="ListReservation">Reservation List</a>
                    </li>
                </ul>
                <div class="card mb-3">
                    <div class="card-body">
                        @if (TempData["add"] != null)
                        {
                            <div class="alert alert-success">@TempData["add"]</div>
                        }
                        @if (TempData["delete"] != null)
                        {
                            <div class="alert alert-danger">@TempData["delete"]</div>
                        }
                        @if (TempData["edit"] != null)
                        {
                            <div class="alert alert-warning">@TempData["edit"]</div>
                        }

                        <div class="table-responsive">

                            <table class="table table-bordered" id="dataTable" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Reservation Id</th>
                                        <th>User Name</th>
                                        <th>Movie Name</th>
                                        <th>Time</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var m in Model)
                                    {

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => m.ReservationId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => m.User.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => m.MovieEvent.Movie.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => m.MovieEvent.Time)
                                            </td>
                                            <td class="text-center">
                                                <input type="button" class="btn btn-danger btn-sm" value="Delete"
                                                       onclick="location.href='@Url.Action("DeleteReservation","Admin", new { id = m.ReservationId })'" />
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>