@model IEnumerable<DTO.MovieEventHeader>

@{
    ViewBag.Title = "Movie Events";
    ViewBag.Subtitle = "Here are the movies with their time";
    Layout = "_SignedUserLayout";
}

<!DOCTPYE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/css/styles.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
      
        <link rel="stylesheet" asp-href-include="bootstrap/startbootstrap-clean-blog-gh-pages/css/width.css">
        <link rel="stylesheet" asp-href-include="bootstrap/startbootstrap-clean-blog-gh-pages/css/card.css">

    </head>
    <body>
        @foreach (var m in Model)
        {
            <div class="col-md-3">
                <div class="card mb-4 border-dark">
                    <img class="card-img-top" src=~/images/@Html.DisplayFor(modelItem => m.Movie.Img) />
                    <div class="card-body">
                        <h5 align="center"  class="font-weight-bold">@Html.DisplayFor(modelItem => m.Movie.Title)</h5>
                        <p class="font-weight-bold phere">
                            Director:
                        </p> 
                        <p  class="phere">@Html.DisplayFor(modelItem => m.Movie.Director)
                        </p>
                        <br />
                        <p class="font-weight-bold phere">
                            Length:
                            </p>
                        <p class="phere" >
                        @Html.DisplayFor(modelItem => m.Movie.Length) minutes
                        </p>
                        <input type="button" class="btn btn-sm btn-dark center-block" value="@m.Time.ToShortTimeString()"
                               onclick="location.href='@Url.Action("SelectMovieEvent", "User", new { id = m.MovieEventId })'" />
                    </div>
                </div>
            </div>
        }
        </body>
</html>
