@model DTO.Reservation

@{
    ViewBag.Title = "Reservation";
    Layout = "_UserLayout";
}

<!DOCTPYE html>

    <html>
    <head>
        <meta name="viewport" content="wirdt=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/css/styles.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <h3>Here is your reservation</h3>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Movie Title</th>
                    <th>Date Time</th>
                    <th>Room Number</th>
                    <th>Seat,Row Number</th>


            </thead>
            <tbody>
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => Model.User.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.MovieEvent.Movie.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.MovieEvent.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.MovieEvent.Room.RoomNumber)
                    </td>
                    @for (int i = 0; i < Model.Seats.Count; i++)
                    {
                        @if (i == 0)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => Model.Seats.ElementAt(i).SeatNumber)

                                @Html.DisplayFor(modelItem => Model.Seats.ElementAt(i).RowNumber)
                            </td>
                        }
                        @if (i != 0)
                        {
                        <tr>

                            <td>  </td>
                            <td>  </td>
                            <td>  </td>
                            <td>  </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Seats.ElementAt(i).SeatNumber)

                                @Html.DisplayFor(modelItem => Model.Seats.ElementAt(i).RowNumber)
                            </td>
                        </tr>
                        }
                    }
                </tbody>

                </table>
            <div class="text-left">
                <a asp-controller="User" asp-action="Main" class="btn btn-primary">Back</a>
            </div>
    </body>
</html>

