@model IEnumerable<DTO.Reservation>
@{
    ViewBag.Title = "Reservation";
    ViewBag.Subtitle = "Here is your reservation";
    Layout = "_SignedUserLayout";
}
<!DOCTPYE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/css/styles.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" asp-href-include="bootstrap/startbootstrap-clean-blog-gh-pages/css/width.css">
        <link rel="stylesheet" asp-href-include="bootstrap/startbootstrap-clean-blog-gh-pages/css/choose.css">
        <link rel="stylesheet" asp-href-include="bootstrap/startbootstrap-clean-blog-gh-pages/css/reservation.css">

    </head>
    <body>

        @for (int i = 0; i < Model.ToList().Count; i++)
        {
            <div class="col-sm-12">
                <div class="card mb-4 text-white bg-dark">
                    <div class="card-body">
                        <h5 align="center" class="font-weight-bold">@Html.DisplayFor(modelItem => Model.ElementAt(i).MovieEvent.Movie.Title)</h5>
                        <p class="font-weight-bold phere">
                            Time:
                        </p>
                        <p class="phere">
                            @Html.DisplayFor(modelItem => Model.ElementAt(i).MovieEvent.Time)

                        </p>
                        <input type="button" class="btn btn-outline-light btn-lg inputhere" value="Delete"
                               onclick="location.href='@Url.Action("DeleteReservation", "User", new { id = Model.ElementAt(i).ReservationId })'" />


                        <br />
                        <p class="font-weight-bold phere">
                            Room:
                        </p>

                        <p class="phere">
                            @Html.DisplayFor(modelItem => Model.ElementAt(i).MovieEvent.Room.RoomNumber)
                        </p>
                        <br />
                        <p class="font-weight-bold phere">
                            Row:
                        </p>
                        <p class="phere">
                            @Html.DisplayFor(modelItem => Model.ElementAt(i).Seat.RowNumber)
                        </p>
                        <p class="font-weight-bold phere">
                            Seat:
                        </p>
                        <p class="phere">
                            @Html.DisplayFor(modelItem => Model.ElementAt(i).Seat.SeatNumber)
                        </p>

                    </div>

                    </div>
                </div>
            }
                    </body>
</html>
