@model IEnumerable<DTO.Reservation>
@{
    ViewBag.Title = "Reservation";
    ViewBag.Subtitle = "Here is your reservation";
    Layout = "_SignedUserLayout";
}
<!DOCTPYE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/css/styles.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <h3>Here is your reservation</h3>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Movie Title</th>
                    <th>Date Time</th>
                    <th>Room Number</th>
                    <th>Row Number</th>
                    <th>Seat Number</th>

            </thead>
            <tbody>
                @for (int i = 0; i < Model.ToList().Count; i++)
                {
                <tr>
                    @if (i == 0)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => Model.ElementAt(i).User.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ElementAt(i).MovieEvent.Movie.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ElementAt(i).MovieEvent.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ElementAt(i).MovieEvent.Room.RoomNumber)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => Model.ElementAt(i).Seat.RowNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ElementAt(i).Seat.SeatNumber)
                        </td>
                        }
                    </tr>
                    @if (i != 0)
                    {
                        @if (Model.ElementAt(i).MovieEvent.Movie.Title != Model.ElementAt(i - 1).MovieEvent.Movie.Title
                          || Model.ElementAt(i).MovieEvent.Room.RoomNumber != Model.ElementAt(i - 1).MovieEvent.Room.RoomNumber
                          || Model.ElementAt(i).MovieEvent.Time != Model.ElementAt(i - 1).MovieEvent.Time)
                        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).User.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).MovieEvent.Movie.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).MovieEvent.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).MovieEvent.Room.RoomNumber)
                    </td>

                    <td>
                       @Html.DisplayFor(modelItem => Model.ElementAt(i).Seat.RowNumber)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Seat.SeatNumber)
                    </td>
                </tr>
                        }
                        else
                        {
                <tr>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Seat.RowNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Seat.SeatNumber)

                    </td>
                </tr>
                        }
                        
                    }
                 }
               </tbody>
            </table>
    </body>
</html>
